<!DOCTYPE html>
<html lang="en">
<head>
    <title>Take a Hike</title>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicon.ico">
</head>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<style>
  html {
    text-align: center;
  }
  body {
    font-family: 'Oswald';font-size: 18px;
    background-image: url("static/craterlake.jpeg");
    background-color: rgba(0,0,0,.2);
  }
</style>
<body>
    <h1 style="color:white;font-family:oswald;font-size:100px;">TAKE A HIKE</h1>

    <div class="alert alert-danger" role="alert">
  <p class="alert-link" style="color:white;" >We're sorry. There was a problem
      accessing the app. Please try back later. </p>
    </div>

</body>
</html>