<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('my_template') }}">Penny Lane Music Recommender</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Title</th>
               <th>Artist</th>
               <th>Album</th>
            </tr>
         </thead>

         <tbody>
            {% for track in tracks %}
               <tr>
                   <td>{{ track.title }}</td>
                   <td>{{ track.artist }}</td>
                   <td>{{ track.album }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <form action="{{ url_for('hello_world') }}" method=post class=add-entry>
      <dl>
        <label for="length">Length:</label>
        <input type=text size=15 name=length placeholder="Length">
        <br />
        <label for="length">Length:</label>
        <input type=text size=15 name=elevation_gain placeholder="Elevation Gain">
        <br />
        <label for="length">Length:</label>
        <select name="route_type", id="route_type">
            <option value="out and back">out_and_back</option>
            <option value="point to point">point_to_point</option>
            <option value="loop">loop</option>
        </select>
        <br />
        <input type=submit value=Add>
      </dl>
    </form>

</body>
</html>