<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('my_template',length='0',elevation_gain='0',route_type='route',features='features',activities='activities') }}">Penny Lane Music Recommender</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Title</th>
               <th>Artist</th>
               <th>Album</th>
            </tr>
         </thead>

         <tbody>
            {% for track in tracks %}
               <tr>
                   <td>{{ track.title }}</td>
                   <td>{{ track.artist }}</td>
                   <td>{{ track.album }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <form action="{{ url_for('home') }}" method=post class=add-entry>
      <dl>
        <label for="length">Length:</label>
        <input type=text size=15 name=length placeholder="Length">
        <br />
        <br />
        <label for="elevation_gain">Elevation Gain:</label>
        <input type=text size=15 name=elevation_gain placeholder="Elevation Gain">
        <br />
        <br />
        <label for="route_type">Route Type:</label>
        <select name="route_type", id="route_type">
            <option value="out_and_back">out and back</option>
            <option value="point_to_point">point to point</option>
            <option value="loop">loop</option>
        </select>
        <br />
        <br />
        <label for="features">Features:</label>
        <br />
        <select name="features", id="features" multiple>
            <option value="ada">ada</option>
            <option value="beach">beach</option>
            <option value="cave">cave</option>
        </select>
        <br />
        <br />
        <label for="activities">Activities:</label>
        <br />
        <select name="activities", id="activities" multiple>
            <option value="bike_touring">bike touring</option>
            <option value="birding">birding</option>
            <option value="camping">camping</option>
        </select>
        <br />
        <br />
        <input type=submit value=Add>
      </dl>
    </form>

</body>
</html>