<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicon.ico">
</head>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<style>
  html {
    text-align: center;
  }
  body {
    font-family: 'Oswald';font-size: 18px;
    background-image: url("static/craterlake.jpeg");
    background-color: rgba(0,0,0,.2);
  }
</style>
<body style="color:white;">
      <!img src="static/yosemite.jpg" width="700" height="300">
      <h1 style="color:white;">TAKE A HIKE</h1>
      <form action="{{ url_for('home') }}" method=post class=add-entry>
      <dl>
        <label for="length">Length (miles):</label>
        <input type=text size=15 name=length placeholder="Length">
        <br />
        <label for="elevation_gain">Elevation Gain (feet):</label>
        <input type=text size=15 name=elevation_gain placeholder="Elevation Gain">
        <br />
        <label for="route_type">Route Type:</label>
        <select name="route_type", id="route_type">
            <option value="out_and_back">out and back</option>
            <option value="point_to_point">point to point</option>
            <option value="loop">loop</option>
        </select>
        <br/>
        <label for="features">Features:</label>
        <br />
        <select name="features", id="features" multiple size="7">
            <option value="ada">ada</option>
            <option value="beach">beach</option>
            <option value="cave">cave</option>
            <option value="city_walk">city walk</option>
            <option value="dogs">dogs</option>
            <option value="dogs_leash">dogs leash</option>
            <option value="dogs_no">no dogs</option>
            <option value="forest">forest</option>
            <option value="historic_site">historic site</option>
            <option value="hot_springs">hot springs</option>
            <option value="kids">kids</option>
            <option value="lake">lake</option>
            <option value="partially_paved">partially paved</option>
            <option value="paved">paved</option>
            <option value="rails_trails">rails trails</option>
            <option value="river">river</option>
            <option value="strollers">strollers</option>
            <option value="views">views</option>
            <option value="waterfall">waterfall</option>
            <option value="wild_flowers">wild flowers</option>
            <option value="wildlife">wildlife</option>
        </select>
        <br />
        <label for="activities">Activities:</label>
        <br />
        <select name="activities", id="activities" multiple size="7">
            <option value="backpacking">backpacking</option>
            <option value="bike_touring">bike touring</option>
            <option value="birding">birding</option>
            <option value="camping">camping</option>
            <option value="canoeing">canoeing</option>
            <option value="cross_country_skiing">cross country skiing</option>
            <option value="fishing">fishing</option>
            <option value="fly_fishing">fly fishing</option>
            <option value="hiking">hiking</option>
            <option value="horseback_riding">horseback riding</option>
            <option value="ice_climbing">ice climbing</option>
            <option value="mountain_biking">mountain biking</option>
            <option value="nature_trips">nature trips</option>
            <option value="off_road_driving">off road driving</option>
            <option value="paddle_sports">paddle sports</option>
            <option value="rails_trails">rails trails</option>
            <option value="road_biking">road biking</option>
            <option value="rock_climbing">rock climbing</option>
            <option value="scenic_driving">scenic driving</option>
            <option value="sea_kayaking">sea kayaking</option>
            <option value="skiing">skiing</option>
            <option value="snowboarding">snowboarding</option>
            <option value="snowshoeing">snowshoeing</option>
            <option value="surfing">surfing</option>
            <option value="trail_running">trail running</option>
            <option value="walking">walking</option>
            <option value="whitewater_kayaking">whitewater kayaking</option>
        </select>
        <br />
        <input type=submit value="Find Me Some Trails!">
      </dl>
    </form>
</body>
</html>